.bg {
  background-color: #EDF4FF;
  position: fixed;
  z-index: -1;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  color: black;
  margin: 0 10%;
}

.headingRow {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-block: 3rem 2rem;
}

.title {
  font-size: 1.25rem;
  font-size: clamp(1.25rem, 1.1rem + 0.75vw, 2rem);
  font-weight: 800;
  margin-right: 2rem;
}

.filterButton {
  all: unset;
  position: relative;
  background: white;
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  padding: .5em 2.75em;
  font-size: 1.25rem;
  font-size: clamp(1.25rem, 1.2rem + 0.25vw, 1.5rem);
  cursor: pointer;
  transition: all .3s ease-in-out;
  display: flex;
  align-items: center;
}

.filterButton:hover {
  box-shadow: 0 1rem 4rem #279AF1;
  scale: 1.01;
}

.filterIcon {
  margin-right: .5rem;
}

.filterModalHeading {
  font-size: 1.5rem;
  font-size: clamp(1.5rem, 1.4rem + 0.25vw, 2rem);
  font-weight: 800;
  margin-bottom: 1rem;
  align-self: flex-start;
}

.filterColumnsRow {
  display: flex;
  /* flex-wrap: wrap; */
}

.filterColumn {
  display: flex;
  flex: 1 1 auto;
  max-width: calc(50% - 1rem);
  flex-direction: column;
  overflow-y: auto;
  font-size: 1rem;
  font-size: clamp(1rem, 0.9rem + 0.25vw, 1.25rem);
  font-weight: 400;
}

.filterColumn:first-child {
  margin-right: 2rem;
}

.filterRow {
  display: flex;
  margin-bottom: .5rem;
}

.filterCheckbox {
  margin-right: .5rem;
  width: 1.25rem;
  height: auto;
  cursor: pointer;
  accent-color: #279AF1;
  flex-shrink: 0;
}

.filterTag {
  padding: .25rem;
}

.articlesWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1.5rem;
}

.article:first-child {
  flex-direction: row;
  grid-column: span 2;
  grid-row: 1;
}

.modalArticle {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modalArticleCloseButtonTop, .modalArticleCloseButtonBottom {
  all: unset;
  cursor: pointer;
  position: absolute;
  background-color: #279AF1;
  border-radius: 1rem;
  padding: .75em 1.5em;
  width: min-content;
  transition: all .3s ease-in-out;
  align-self: flex-end;
}

.modalArticleCloseButtonTop {
  top: 1rem;
  right: 1rem;
}

.modalArticleCloseButtonBottom {
  position: static;
}

.modalArticleCloseButtonTop:hover, .modalArticleCloseButtonBottom:hover {
  box-shadow: 0 1rem 2rem #279AF1;
  scale: 1.01;
}

.modalArticleImage {
  object-fit: cover;
  width: 100%;
  height: auto;
  max-height: 30rem;
}

.modalArticleContentWrapper {
  display: flex;
  flex-direction: column;
  padding: 3rem 10%;
}

.modalArticleTitle {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-size: clamp(1.5rem, 1.4rem + 0.25vw, 2rem);
  font-weight: 800;
  margin-bottom: .5rem;
}

.modalArticleLinkIconWrapper {
  all: unset;
  display: flex;
  margin-left: 1rem;
}

.modalArticleLinkIcon {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  transition: all .3s ease-in-out;
}

.modalArticleLinkIcon:hover {
  transform: scale(1.1);
}

.modalArticleLinkIcon:active {
  transform: scale(1);
}

.modalArticleAuthorDateWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.modalArticleAuthor {
  font-size: 1rem;
  font-size: clamp(1rem, 0.9rem + 0.25vw, 1.25rem);
  font-weight: 600;
}

.modalArticleDate {
  font-size: 1rem;
  font-size: clamp(1rem, 0.9rem + 0.25vw, 1.25rem);
  font-weight: 400;
  margin-left: 1rem;
}

.modalArticleContent {
  font-size: 1rem;
  font-size: clamp(1rem, 0.9rem + 0.25vw, 1.25rem);
  white-space: pre-wrap;
  line-height: 1.5rem;
}


.modalArticleLoading {
  display: flex;
  margin-top: 1ex;
  width: 100%;
  height: 2.5ex;
  background-image: linear-gradient(90deg, #ececec 0px, #ddd 40px, #ececec 80px);
  animation: loading 2s infinite ease-out;
}

@keyframes loading {
  0% {
    background-position: -4rem;
  }
  40%, 100% {
    background-position: 37rem;
  }
}

.modalArticleContent>* img {
  max-width: 100%;
  height: auto;
  border-radius: 1rem;
  border: 2px solid #279AF1;
  margin-bottom: 1rem;
}

.modalArticleContent>* img::after {
  padding: 1rem;
}

.modalArticleContent>* h1,
.modalArticleContent>* h2,
.modalArticleContent>* h3,
.modalArticleContent>* h4,
.modalArticleContent>* h5,
.modalArticleContent>* h6 {
  margin-block: 2rem 1rem;
  line-height: 120%;
}

.modalArticleContent>* li {
  margin-block: 0 .5rem;
  white-space: wrap;
  list-style-position: inside;
}

.modalArticleContent>ul {
  white-space: collapse;
}

.modalArticleContent>* ol,
.modalArticleContent>div,
.modalArticleContent>main {
  white-space: wrap;
}

.modalArticleContent>* p, .modalArticleContent>* section {
  margin-bottom: 1rem;
}

.modalArticleContent>* pre {
  max-width: 100%;
  overflow-x: auto;
  margin-bottom: 1rem;
  background-color: rgba(237, 244, 255, 0.8);
  border-radius: 1rem;
  padding: 1rem;
  white-space: pre-wrap;
}

.modalArticleContent>* div {
  margin-bottom: 1rem;
  white-space: wrap;
}

.modalArticleContent>* div>img,
.modalArticleContent>div>img,
.modalArticleContent>* p>img,
.modalArticleContent>p>img {
  margin-bottom: 0;
}

.modalArticleContent>* textarea,
.modalArticleContent>textarea {
  width: 100%;
  resize: vertical;
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 2px solid #279AF1;
  outline: none;
}

.modalArticleContent>* iframe {
  max-width: 100%;
  height: auto;
  border-radius: 1rem;
  border: 2px solid #279AF1;
}

.modalArticleContent>* a {
  color: #279AF1;
  text-decoration: underline;
  transition: all .3s ease-in-out;
}

.modalArticleContent>* a:hover {
  color: #064789;
}

.modalArticleContent>* strong {
  font-weight: 600;
}

.modalArticleContent>* figure {
  margin-block: 2rem 1rem;
}

.article {
  all: unset;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.article:hover {
  box-shadow: 0 1rem 4rem #279AF1;
  scale: 1.01;
}

.articleContentWrapper {
  padding: 1rem;
}

.articleImage {
  object-fit: cover;
  width: 100%;
  height: 12rem;
  border-radius: 1rem 1rem 0 0;
  overflow: hidden;
}

.article:first-child>.articleImage {
  border-radius: 1rem 0 0 1rem;
  width: 50%;
  height: auto;
}

.article:first-child>.articleContentWrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-self: center;
  justify-content: space-between;
}

.articleTagOuterWrapper {
  position: absolute;
  width: 100%;
  padding: 1rem;
  max-height: 12rem;
  overflow: auto;
  white-space: nowrap;
}

.articleTagOuterWrapper:first-child {
  position: relative;
  padding-bottom: 0;
}

.article:first-child>.articleTagOuterWrapper {
  width: 50%;
  max-height: 100%;
}

.articleTagWrapper {
  display: flex;
  gap: .5rem;
  margin-bottom: .5rem;
  overflow: auto;
  flex-wrap: wrap;
}

.categoryTag {
  padding: .5rem 1rem;
  border-radius: 1rem;
  font-size: .75rem;
  font-size: clamp(.75rem, 0.7rem + 0.25vw, 1rem);
  font-weight: 500;
  background-color: lightgray;
  white-space: wrap;
}

.categoryTag[data-category="Business"],
.categoryTag[data-category="Business Technology"],
.categoryTag[data-category="Enterprise Tech"],
.categoryTag[data-category="Operations Management"] {
  background-color: #E3B23C;
}

.categoryTag[data-category="Management"],
.categoryTag[data-category="Learning"],
.categoryTag[data-category="Productivity"] {
  background-color: #E84855;
  color: white;
}

.categoryTag[data-category="Google"] {
  background-color: #488B49;
  color: white;
}

.categoryTag[data-category="Technology"],
.categoryTag[data-category="Software"],
.categoryTag[data-category="Software Development"],
.categoryTag[data-category="Engineering"],
.categoryTag[data-category="Computer Science"],
.categoryTag[data-category="The Web"],
.categoryTag[data-category="Design"] {
  background-color: #279AF1;
}

.categoryTag[data-category="Microsoft"],
.categoryTag[data-category="Microsoft Azure"] {
  background-color: #DAB6FC;
}

.categoryTag[data-category="ChatGPT"] {
  background-color: #72A276;
  color: #000;
}

.categoryTag[data-category="Microservices"],
.categoryTag[data-category="Databases"],
.categoryTag[data-category="DNS"],
.categoryTag[data-category="Architecture"] {
  background-color: #003554;
  color: white;
}

.categoryTag[data-category="Artificial Intelligence"],
.categoryTag[data-category="Machine Learning"] {
  background-color: #064789;
  color: white;
}

.categoryTag[data-category="DevOps"] {
  background-color: #679436;
}

.categoryTag[data-category="Infrastructure as Code"],
.categoryTag[data-category="Scalability"],
.categoryTag[data-category="Kubernetes"] {
  background-color: #ED6A5A;
}

.articleTitle {
  font-size: 1rem;
  font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
  margin-bottom: .5rem;
}

.articleSnippet {
  font-size: 1rem;
  margin-bottom: 1rem;
  word-break: break-word;
}

.articleBottomRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.articleColorAuthorWrapper {
  display: flex;
  align-items: center;
}

.articleColor {
  display: inline-block;
  width: .75rem;
  height: .75rem;
  border-radius: 50%;
  flex-shrink: 0;
  margin-right: .5rem;
}

.articleAuthor,
.articleDate {
  font-size: .75rem;
  font-size: clamp(.75rem, 0.7rem + 0.25vw, 1rem);
  font-weight: 500;
}

@media (max-width: 70rem) {
  .header {
    padding-inline: 4rem;
  }

  .main {
    margin: 0;
    padding-inline: 4rem;
  }

  .articlesWrapper {
    grid-template-columns: 1fr 1fr;
  }
  .modalArticleImage {
    object-fit: cover;
    width: 100%;
    height: auto;
    max-height: 20rem;
  }
  .filterCheckbox {
    width: 1.5rem;
  }

  .filterTag {
    padding: .25rem 1rem;
  }
}

@media (max-width: 45rem) {
  .header {
    min-height: 4rem;
  }

  .main,
  .header {
    padding-inline: 2rem;
  }

  .headingRow {
    margin-block: 1rem 2rem;
  }

  .articlesWrapper {
    grid-template-columns: 1fr;
  }

  .article:first-child {
    grid-column: 1;
  }

  .filterColumnsRow {
    flex-direction: column;
  }

  .filterColumn {
    max-width: 100%;
  }

  .filterColumn:first-child {
    margin-right: 0;
  }

  .filterCheckbox {
    width: 2rem;
  }

  .filterRow {
    margin-bottom: 1rem;
    word-break: break-word;
  }

  .filterTag {
    padding: .5rem 1rem;
  }

  .filterButton {
    padding: .5em 1.5em;
  }

  .article:first-child {
    flex-direction: column;
  }

  .article:first-child>.articleImage {
    border-radius: 1rem 1rem 0 0;
    width: 100%;
    height: 12rem;
  }

  .article:first-child>.articleContentWrapper {
    width: 100%;
  }

  .article:first-child>.articleTagOuterWrapper {
    width: 100%;
    max-height: 12rem;
  }
  .modalArticleContent>* li {
    word-break: break-word;
  }
  .modalArticleContent>* pre {
    word-break: break-all;
  }
  .modalArticleContent>* div > table {
    word-break: break-word;
  }
}