.bg {
  background-color: #EDF4FF;
  position: fixed;
  z-index: -1;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  color: black;
  margin: 0 10%;
}

.headingRow {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-block: 3rem 2rem;
}

.title {
  font-size: 1.25rem;
  font-size: clamp(1.25rem, 1.1rem + 0.75vw, 2rem);
  font-weight: 800;
  margin-right: 2rem;
}

.filterButton {
  all: unset;
  position: relative;
  background: white;
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  padding: .5em 2.75em;
  font-size: 1.25rem;
  font-size: clamp(1.25rem, 1.2rem + 0.25vw, 1.5rem);
  cursor: pointer;
  transition: all .3s ease-in-out;
  display: flex;
  align-items: center;
}

.filterButton:hover {
  box-shadow: 0 1rem 4rem #279AF1;
  scale: 1.01;
}

.filterIcon {
  margin-right: .5rem;
}

.filterModalHeading {
  font-size: 1.5rem;
  font-size: clamp(1.5rem, 1.4rem + 0.25vw, 2rem);
  font-weight: 800;
  margin-bottom: 1rem;
}

.filterColumnsRow {
  display: flex;
}

.filterColumn {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  font-size: 1rem;
  font-size: clamp(1rem, 0.9rem + 0.25vw, 1.25rem);
  font-weight: 400;
}

.filterColumn:first-child {
  margin-right: 2rem;
}

.filterRow {
  display: flex;
  margin-bottom: .5rem;
}

.filterCheckbox {
  margin-right: .5rem;
  width: 1.125rem;
  height: auto;
  cursor: pointer;
  accent-color: #279AF1;
}

.articlesWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1.5rem;
}

.article:first-child {
  grid-column: span 2;
  grid-row: 1;
}

.article {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  transition: all .3s ease-in-out;
}

.article:hover {
  box-shadow: 0 1rem 4rem #279AF1;
  scale: 1.01;
}

.articleTagWrapper {
  display: flex;
  gap: .5rem;
  margin-bottom: .5rem;
  overflow-x: auto;
  white-space: nowrap;
  flex-wrap: wrap;
  /* width: 15rem; */
}

.categoryTag {
  padding: .5rem 1rem;
  border-radius: 1rem;
  font-size: .75rem;
  font-size: clamp(.75rem, 0.7rem + 0.25vw, 1rem);
  font-weight: 500;
  background-color: lightgray;
}

.categoryTag[data-category="Business"],
.categoryTag[data-category="Business Technology"],
.categoryTag[data-category="Enterprise Tech"],
.categoryTag[data-category="Operations Management"] {
  background-color: #E3B23C;
}

.categoryTag[data-category="Management"],
.categoryTag[data-category="Learning"],
.categoryTag[data-category="Productivity"] {
  background-color: #E84855;
  color: white;
}

.categoryTag[data-category="Google"] {
  background-color: #488B49;
  color: white;
}

.categoryTag[data-category="Technology"],
.categoryTag[data-category="Software"],
.categoryTag[data-category="Software Development"],
.categoryTag[data-category="Engineering"],
.categoryTag[data-category="Computer Science"] {
  background-color: #279AF1;
}

.categoryTag[data-category="Microsoft"],
.categoryTag[data-category="Microsoft Azure"] {
  background-color: #DAB6FC;
}

.categoryTag[data-category="ChatGPT"] {
  background-color: #72A276;
  color: #000;
}

.categoryTag[data-category="Microservices"],
.categoryTag[data-category="Databases"],
.categoryTag[data-category="DNS"] {
  background-color: #003554;
  color: white;
}

.categoryTag[data-category="Artificial Intelligence"],
.categoryTag[data-category="Machine Learning"] {
  background-color: #064789;
  color: white;
}

.categoryTag[data-category="DevOps"] {
  background-color: #679436;
}

.categoryTag[data-category="Infrastructure as Code"],
.categoryTag[data-category="Scalability"],
.categoryTag[data-category="Kubernetes"] {
  background-color: #ED6A5A;
}

.articleImage {
  /* WILL break or be wonky if image is in the first article or it has a weird aspect ratio */
  aspect-ratio: 16/9;
  object-fit: contain;
  width: 100%;
  height: auto;
}

.articleTitle {
  font-size: 1rem;
  font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
  margin-bottom: .5rem;
}

.articleSnippet {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.articleBottomRow {
  display: flex;
  justify-content: space-between;
}

.articleAuthor,
.articleDate {
  font-size: .75rem;
  font-size: clamp(.75rem, 0.7rem + 0.25vw, 1rem);
  font-weight: 500;
}

@media (max-width: 70rem) {
  .header {
    padding-inline: 4rem;
  }

  .main {
    margin: 0;
    padding-inline: 4rem;
  }

  .articlesWrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 45rem) {
  .header {
    min-height: 4rem;
  }

  .main,
  .header {
    padding-inline: 2rem;
  }

  .headingRow {
    margin-block: 1rem 2rem;
  }

  .articlesWrapper {
    grid-template-columns: 1fr;
  }

  .article:first-child {
    grid-column: 1;
  }

  .filterColumnsRow {
    flex-direction: column;
  }

  .filterCheckbox {
    width: 2rem;
    flex-shrink: 0;
  }

  .filterRow {
    margin-bottom: 1rem;
 
  }
}