.bg {
  background-color: white;
  background-image: url("../../public/bg.svg");
  filter: blur(100rem);
  position: fixed;
  z-index: -1;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  color: black;
}



.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-inline: 10rem;
  min-height: 5rem;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1rem);
}

.articlesWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
}

.article:first-child {
  grid-column: 1 / span 2;
  grid-row: 1;
}

.article {
  border: 1px solid black;
}