.bg {
  background-color: white;
  background-image: url("../../public/bg.svg");
  filter: blur(100rem);
  position: fixed;
  z-index: -1;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  color: black;
  margin: 0 10%;
}

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-inline: 10%;
  min-height: 5rem;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1rem);
  z-index: 9999;
}

.headingRow {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-block: 3rem 2rem;
}

.title {
  font-size: 1.25rem;
  font-size: clamp(1.25rem, 1.1rem + 0.75vw, 2rem);
  font-weight: 800;
}

.feedsButton {
  all: unset;
  font-size: 1.25rem;
  font-size: clamp(1.25rem, 1.2rem + 0.25vw, 1.5rem);
  cursor: pointer;
}

.filterButton {
  all: unset;
  position: relative;
  transform-style: preserve-3d;
  border-radius: 0px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1rem);
  border-radius: 1rem;
  padding: .5em 2.75em;
  font-size: 1.25rem;
  font-size: clamp(1.25rem, 1.2rem + 0.25vw, 1.5rem);
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.filterButton:hover {
  box-shadow: 0 1rem 1.5rem #FFBE0B;
  scale: 1.01;
}

.articlesWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1.5rem;
}

.article:first-child {
  grid-column: span 2;
  grid-row: 1;
}

.article {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(1rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  transition: all .3s ease-in-out;
}

.article:hover {
  box-shadow: 0 1rem 1.5rem #FFBE0B;
  scale: 1.01;
}

.articleTitle {
  font-size: 1rem;
  font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
  margin-bottom: .5rem;
}

.articleSnippet {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.articleBottomRow {
  display: flex;
  justify-content: space-between;
}

.articleAuthor,
.articleDate {
  font-size: .75rem;
  font-size: clamp(.75rem, 0.7rem + 0.25vw, 1rem);
  font-weight: 500;
}

@media (max-width: 70rem) {
  .header {
    padding-inline: 4rem;
  }

  .main {
    margin: 0;
    padding-inline: 4rem;
  }

  .articlesWrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 45rem) {
  .header {
    min-height: 4rem;
  }
  .main,
  .header {
    padding-inline: 2rem;
  }
  .headingRow {
    margin-block: 1rem 2rem;
  }
  .articlesWrapper {
    grid-template-columns: 1fr;
  }

  .article:first-child {
    grid-column: 1;
  }
}